.mapboxgl-popup-content { 
  /* Override mapbox style */
  padding: 6px 8px !important;
  border-radius: 4px !important;
}

.popup-content {
  font-family: Arial, sans-serif;
  color: #161515;
  width: fit-content;
  height: fit-content;
  line-height: 1.25;
}
.popup-content h3 {
  font-size: 0.775rem;
}

.popup-content p {
  font-size: 0.7rem;
}

.marker {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}

.marker.low {
  background: url("/low-marker.svg") center / contain no-repeat;
}

.marker.medium {
  background: url("/medium-marker.svg") center / contain no-repeat;
}

.marker.high {
  background: url("/high-marker.svg") center / contain no-repeat;
}
.marker.selected{
  background: url("/selected-position-marker.svg") center / contain no-repeat;
}