#root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: monospace;
}

#map-container {
  height: 100vh;
  width: 100vw;
}
.mapboxgl-canvas {
  cursor: crosshair !important;
}
.map-status {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  
  border-radius: 4px;
}

.container {
  z-index: 1;
  position: absolute;
}

h4 {
  text-align: center;
  margin-bottom: 10px;
}


