#root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: monospace;
}

#map-container {
  height: 100vh;
  width: 100vw;
  background-color: lightgrey;
}
.mapboxgl-canvas {
  cursor: crosshair !important;
}
.temp {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  
  border-radius: 4px;
}

.marker {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}

.marker.low {
  background: url("/low-marker.svg") center / contain no-repeat;
}

.marker.medium {
  background: url("/medium-marker.svg") center / contain no-repeat;
}

.marker.high {
  background: url("/high-marker.svg") center / contain no-repeat;
}
.marker.selected{
  background: url("/selected-position-marker.svg") center / contain no-repeat;
}

.coordinate-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.predict-button {
  width: fit-content;
  padding: 10px 12px;
  
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-left: auto;
  margin-right: auto; 
}

.predict-button:hover {
  background-color: #357abd;
}

.predict-button:active {
  background-color: #2d6da3;
}

.container {
  z-index: 1;
  position: absolute;
}

h4 {
  text-align: center;
  margin-bottom: 10px;
}

.neighbourhood-toggle {
  top: 60px;
  left: 20px;
  border-radius: 8px;
  background-color: rgb(35 55 75 / 90%);
  padding: 6px 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
}

.toggle-label {
  font-size: 12px;
  font-family: monospace;
}

.toggle-checkbox {
  width: 17px;
  height: 17px;
  cursor: pointer;
  accent-color: #088;
}


