.switch {
  top: 23%;
  left: 0;
  margin: 16px;
  border-radius: 8px;
  max-width: 80px;
}

.switch button {
  width: 100%;
  padding: 8px 12px;
  background-color: rgb(35 55 75 / 90%);
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 12px;
  cursor: pointer;
  font-family: monospace;
}

.switch img{
  --switch-btn-size: 20px;
  width: var(--switch-btn-size);
  height: var(--switch-btn-size);
}

.predict-button {
  width: fit-content;
  padding: 10px 12px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-left: auto;
  margin-right: auto; 
}

.predict-button:hover {
  background-color: #357abd;
}

.predict-button:active {
  background-color: #2d6da3;
}